H1 {font-size: 10pt;
   color: cyan;   
   font-family: arial;	     
   text-align: center;}

H2 {font-size: 20pt;
   color: #FF0000;   
   font-family: verdana;	     
   text-align: center;}
   
/* Comentário */  